@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------- GÉNÉRAL ---------- */

body {
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #242424;
}

/* ---------- HEADER ---------- */

.header {
  background-color: #5775BA;
  color: white;
  padding: 15px 5vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 50px;
}

.menuHeader {
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

.menuHeader > a {
  color: white;
}

.menuHeader > a:hover {
  color: #F7B42D;
}

/* ---------- BOUTON RETOUR ---------- */

.boutonRetour {
  padding: 20px;
  display: flex;
  width: 5vw;
}

.boutonRetour > i {
  margin-top: 4px;
}

.boutonRetour > p {
  margin: 0 10px;
}

.boutonRetour:hover {
  cursor: pointer;
  color: #F7B42D;
}

/* ---------- SLIDER DEBUT ---------- */

.pkmn-card {
  width: 215px;
  height: 300px;
  margin: 15px;
}

/* ---------- BARRE DE RECHERCHE ---------- */

.formRecherche {
  display: flex;
  justify-content: center;
}

/* ---------- SETS DE CARTES ---------- */

.containerSetCards {
  width: 90vw;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

#setsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

img {
  width: 100%;
}

.card {
  width: 10%;
  padding: 3%;
}

.card:hover {
  cursor: pointer;
}

/* ---------- AFFICHAGE CARTES DES SETS ---------- */

#choicePokemon {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.pokemon-card {
  width: 15%;
  padding: 20px;
}


/* ---------- BOOSTERS DE CARTES ---------- */

.containerSetCards {
  width: 90vw;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

#setsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

img {
  width: 100%;
}

.card {
  width: 10%;
  padding: 3%;
}

.card:hover {
  cursor: pointer;
}

/* ---------- AFFICHAGE CARTES DES SETS ---------- */

#choicePokemon {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.pokemon-card {
  width: 15%;
  padding: 20px;
}

/* ---------- CHOIX DE SETS ---------- */

#setsList2 {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr 1fr;
  grid-template-columns: 4;
  width: 100%;
}

.containerSetCards2 {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.card2 {
  padding: 0;
  font-size: 0.9em;
}

.imgSets {
  width: 20%;
  height: 6vh;
  margin-top: 1vh;
}

.setButton {
  display: flex;
  background-color: rgb(230,230,230);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.setButton:hover {
  background-color: rgb(200,200,200);
  cursor: pointer;
}

.titres {
  text-align: center;
  margin-top: -50px;
}

.pokemon-card-booster {
  padding: 10px;
}

.pokemon-card-booster > img {
  width: 15vw;
}

/* ---------- PRIX ---------- */

.prix {
  width: 70%;
  text-align: center;
}


/* ---------- BACK TO TOP ---------- */

.backtotop {
  position: fixed;
  font-size: 30px;
  bottom: 30px;
  right: 30px;
  color: #242424;
  opacity: 0.5;
}